#forgetForm {
  display: none;
}

.error {
  color: #f00;
  display: block;
}

.displayBadge {
  margin-top: 5%;
  display: none;
  text-align: center;
}

#passwordEye {
  cursor: pointer;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #212427;
  overflow-x: hidden;
}

.ispod_hedera {
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  width: 100vw;
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-image: url("../ff1.jpg");
  background-position: center;
  font-size: 4vmax;
  background-repeat: no-repeat;
  background-size: cover;
}

.ispod_hedera-content {
  margin-bottom: 150px;
  color: #c5d1dd;
  text-align: center;
}

h2 {
  text-align: left;
  font-size: 6vmax;
}

h1 {
  font-size: 6vmax;
}

.desna {
  text-align: right;
  font-size: 6vmax;
}

li,
a,
button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}

header {
  top: 0;
  background-color: #366f8a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0px 75px;
  width: 100%;
}

.logo {
  cursor: pointer;
}

.nav__links {
  list-style: none;
}

.nav__links li {
  display: inline-block;
  padding: 0 20px;
}

.nav__links li a {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
  color: #4184a4;
}

button {
  padding: 9px 25px;
  background-color: #4184a4;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: #286785;
}

.menu-btn {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 40px;
  cursor: pointer;
  display: none;
}

.aq {
  width: 100vw;
  height: 100vh;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-image: url("../pancakes1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 100%;
  padding: 200px;
}

.aq > .col {
  text-align: center;
  margin: auto;
}

section {
  width: 90%;
  margin: 80px auto;
}

.title {
  margin-top: 100px;
  text-align: center;
  font-size: 15px;
  color: #4184a4;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.row .col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.events .row {
  margin-top: 50px;
}

h4 {
  font-size: 3vmin;
  color: #3283a8;
  margin: 20px auto;
}

p {
  text-align: center;
  color: #edf0f1;
  padding: 0px;
}

.events .cta {
  margin-top: 30px;
}

footer {
  width: 100%;
  /* min-height: 50px; */
  padding: 20px 80px;
  margin: 0;
  background-color: #366f8a;
  text-align: center;
}

footer p {
  color: #edf0f1;
  margin: 20px auto;
  padding: 20px auto;
}

.one {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.two {
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
}

iframe {
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 1500px) {
  .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .col > .cta {
    visibility: visible;
  }
  .col {
    margin-bottom: 20px;
  }
  .col img {
    max-width: 100%;
  }
}

@media only screen and (max-width: 850px) {
  .menu-btn {
    display: block;
  }
  .nav {
    padding: 0;
  }
  .logo,
  .cta {
    visibility: hidden;
  }
  header {
    width: 100%;
    height: 100vh;
    margin-top: -920px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .nav__links,
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #366f8a;
  }
  .aq {
    margin-top: -100px;
    margin-bottom: -100px;
  }
  .mobile-menu {
    margin-top: 0px;
  }
  .nav__links li {
    margin: 30px auto;
  }
  header {
    position: unset;
  }
  .ispod_hedera {
    margin-top: 0;
  }
}
/*# sourceMappingURL=styleindex4.css.map */
